{{ extends 'global/Page.html' }}

{{ block title }}

{{ if player.role == C.STAF_ROLE }}

Ronde {{ subsession.round_number }} - Auditor Staf [Decision 3]

{{ else }}

Ronde {{ subsession.round_number }} - Auditor Kepala Tim [Menunggu Pemain Lain]

{{ endif }}

{{ endblock }}

{{ block content }}

{{ if player.role == C.STAF_ROLE }}

<b>
    Silakan baca halaman ini dengan seksama. Anda akan 
    diminta mengambil keputusan yang akan berpengaruh 
    terhadap payoff Anda.
</b>

<p>
Anda adalah seorang staf Auditor pajak yang bekerja pada 
kantor pajak X. Kantor ini internal controlnya biasa saja. Anda 
memiliki seorang Kepala Tim yang dapat mengoreksi hasil kerja 
Anda. Gaji Anda sekarang senilai 7.500 UE
</p>

<p>
Anda mendapat informasi bahwa atasan Anda melakukan hal di 
bawah ini terhadap hadiah dari wajib pajak
</p>

<b>
   - {{ decision2 }}
</b>

{{ formfields }}

<!-- {{ next_button }} -->

<button class="otree-btn-next btn btn-primary" id="tax" onclick="send()">Lanjut</button>

<script>
    let inputbox = document.getElementById('tax');

    function send() {
        liveSend(parseInt(inputbox.value));
    }

    function liveRecv(data) {
    console.log('received a message!', data);
    // your code goes here
    }
</script>

{{ else }}

<b>
Silakan menunggu sesaat. Pemain lain sedang membuat keputusan 
dalam game. Halaman ini akan berubah otomatis setelah pemain lain 
membuat keputusannya.
</b>

<button class="btn btn-primary" type="submit" id="tax">Next</button>

<script>

    let tax = document.getElementById('tax')
    tax.style.display = 'none'

    function liveRecv(data) {
        let type = data.type;
        console.log(data)
        if (type === 'game_finished') {
            tax.click()
        }
    }
</script>

{{ endif }}

{{ endblock }}
